# Archivos de Datos Sensibles
db.json
data/
logs/

# Claves de API (Solo subir los .example)
apis/*.txt
!apis/*.example.txt

# Archivos de sistema y configuración local
.DS_Store
Thumbs.db
node_modules/
.vscode/
.idea/

# Scripts de servidor local si contienen info sensible
# apis/server.py (puedes comentarlo si prefieres subirlo)
